.page-404 {
    background-color: #fff;
    padding: 200px 10px;
    text-align: center;
    min-height: 300px;
    p {
        color: #484848;
        a {
            text-decoration: underline;
            color: #b40c0c;
        }
    }
}