.contato-page {
    background-color: #fff;
    color: #414141;
    padding: 40px 0;
    img.bg-contato {
        margin-top: 40px;
    }
    &__content {
        width: 320px;
        margin: 40px auto;
        padding: 10px;
        h2 {
            margin-bottom: 20px;
            color: #b40c0c;
        }
        form {
            input, textarea {
                width: 300px;
                margin: 0 auto;
                padding: 8px;
                border-radius: 3px;
                border: #acacac solid 1px;
                margin-bottom: 6px;
            }
            input[type="submit"] {
                background-color: #b40c0c;
                color: #fff;
                border: #b40c0c solid 1px;
                cursor: pointer;
            }
            input[type="submit"]:hover {
                opacity: 0.7;
            }
        }
    }
    p.contato-whats {
        border-top: 1px solid #acacac;
        color: #414141;
        margin: 40px 0 20px 0;
        padding-top: 40px;
    }
    a {
        background-color: #b40c0c;
        color: #fff;
        padding: 8px 62px;
        border-radius: 3px;
        img {
            height: 16px;
            margin-right: 6px;
        }
    }
    a:hover {
        opacity: 0.7;
    }
}

@media (min-width: 1024px) {
    .contato-page {
        padding: 0 0 80px 0;
        img.bg-contato {
        margin-top: 0;
        }
    }
}